.experience {
  background-color: #fff;
  padding: 96px 0 128px 0;

  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
  }

  &__left {
    width: 596px;
  }

  &__title {
    width: 596px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0d1317;
    margin-bottom: 32px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5b5b5b;
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    gap: 26px;
  }

  &__item {
    width: 50%;
  }

  &__count {
    font-family: "Inter";
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #f58a07;
    margin-bottom: 16px;
  }

  &__subtilte {
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0d1317;
    margin-bottom: 16px;
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5b5b5b;
  }

  &__imgbox {
    position: relative;
    width: 638px;
    height: 670px;
    border-radius: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      height: 99.8%;
      display: block;
      background-color: #f58a07;
      mix-blend-mode: multiply;
      border-radius: 20px 0px 0px 20px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 116px;
      height: 113px;
      top: -57px;
      right: -58px;
      background-image: url("../../../assets/images/Experience/Circle.svg");
      background-repeat: no-repeat;
    }
  }

  &__img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  //section 2

  &__businessbox {
    position: relative;
    width: 100%;
    background-color: #edf7ff;
    border-radius: 20px;
    padding: 48px;
    padding-right: 42px;
  
    &::before {
      content: "";
      width: 179px;
      height: 178px;
      position: absolute;
      top: -15px;
      right: -15px;
      display: block;
      background: url("../../../assets/images/Experience/Ribbon.png"), no-repeat;
    }
  }

  &__btnbox {
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid #a8bccc;
    border-radius: 31px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    color: rgba(6, 50, 85, 0.3);
    padding: 8px 24px;
    transition: all 0.4s ease;

    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: #f58a07;
    }
  }

  &__btn-active {
    background-color: #fff;
    border-color: #fff;
    color: #f58a07;
  }

  &__hbox {
    display: flex;
    justify-content: space-between;
  }
  
  &__helpbox {
    width: 50%;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #f58a07;
    transition: all 0.4s ease;

    svg {
      font-size: 20px;
      margin-left: 8px;
      transition: all 0.4s ease;
    }

    &:hover {
      color: #1d3444;
    }

    &:hover svg {
      margin-left: 20px;
      color: #1d3444;
    }

  }

  &__himgbox {
    position: relative;
    width: 472px;
    height: 466px;
    overflow: hidden;
    border-radius: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      height: 99.8%;
      display: block;
      background-color: #f58a07;
      mix-blend-mode: multiply;
      border-radius: 20px 0px 0px 20px;
    }
  }

  &__himg {
    width: 100%;
    object-fit: cover;
  }
}


@media screen and (max-width: 1325px) {
  .experience {

    .experience__left {
      width: 500px;
    }

    .experience__title {
      width: 500px;
    }
  }
}

@media screen and (max-width: 1158px) {
  .experience {

    .experience__left {
      width: 480px;
    }

    .experience__title {
      width: 480px;
    }

    .experience__imgbox {
      width: 538px;
      height: 563px;
    }

  }
}


@media screen and (max-width: 1050px) {
  .experience {

    &__helpbox {
      margin-right: 10px;
    }

    &__himgbox {
      width: 438px;
      height: 432px;
    }
  }
}


@media screen and (max-width: 1028px) {
  .experience {

    &__imgbox {
      width: 438px;
      height: 458px;
    }

  }
}

@media screen and (max-width: 1050px) {
  .experience {

    &__helpbox {
      margin-right: 10px;
    }

    &__himgbox {
      width: 400px;
      height: 394px;
    }
  }
}

@media screen and (max-width: 959px) {
  .experience {

    &__helpbox {
      width: 40%;
    }

    &__himgbox {
      width: 360px;
      height: 355px;
    }
  }
}

@media screen and (max-width: 937px) {
  .experience {

    .experience__left {
      width: 400px;
    }

    .experience__title {
      width: 400px;
    }

  }
}


@media screen and (max-width: 850px) {
  .experience {

    padding: 48px 15px;

    &__box {
      flex-direction: column;
    }

    .experience__left {
      width: 100%;
      margin-bottom: 70px;
    }

    .experience__title {
      width: 100%;
    }
    
    &__btnbox {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    &__hbox {
      flex-direction: column;
      align-items: center;
    }

    &__helpbox {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 30px;
    }

    &__himgbox {
      width: 472px;
      height: 466px;
    }
  }
}

@media screen and (max-width: 576px) {
  .experience {
    .experience__title {
      font-size: 32px;
      line-height: 40px
    }

    .experience__left {
      width: 100%;
      margin-bottom: 70px;
    }

    .experience__title {
      width: 100%;
    }

    &__list {
      flex-direction: column;
    }

    &__item {
      width: 100%;
    }

    .experience__imgbox {
      width: 300px;
      height: 315px;

      &::before {
        width: 80px;
        height: 77px;
        top: -39px;
        right: -38px;
        background-size: cover; 
      }
    }

    &__himgbox {
      width: 320px;
      height: 315px;
    }
  }
}