@import "./assets/style/_fonts.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  body {
    padding-top: 80px;
  }

}